<h1>Find your Weather!</h1>


<%= form_tag do%>
	<p>Your Name: <%= text_field_tag(:nameInput) %> </p>
	<p>Your City: &nbsp; &nbsp;<%= text_field_tag(:locationInput) %> </p>
	<p> <%= submit_tag "Enter Location"%>   <input type="button" value="Cancel" /> </p>
	
<% end %>

<p>Hi <%= @allRequest.last.name.titleize %>! Your current weather in <%= @allRequest.last.city %> is <%= @allRequest.last.temp %> degrees celsius. The conditions outside are <%= @allRequest.last.sky.downcase %>.</p>









