<html>
    </body>
  <head>
    <title> Weather Forecast </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <%= link_to "WeatherGO", '/weather', id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
               <li><%= link_to "Home",   '/weather' %></li> 
            <li><%= link_to "About",   '/about' %></li>
            <li><%= link_to "Twitter",   '/twitter' %></li>
            <li><%= link_to "Contact", '/contact' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
        <div class="center jumbotron">
 <br />
<br />
<br />
<br />
<br />
  <h1>MetOffice Twitter Feed</h1>
    </div>
  </body>
<div class="navbar-header">
    
    
  


<a class="twitter-timeline" data-lang="en" data-height="2000" data-width= "2000" href="https://twitter.com/metoffice?ref_src=twsrc%5Etfw">Tweets by metoffice</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>